.features {
    background-color: $color-grey-light-1;
    grid-column: center-start / center-end;

    margin: 15rem 15rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}